body {
  background-color: cornflowerblue;
  padding: 0; 
  margin: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

#ground {
  background-color: green;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#wall {
  height: 13em;
  width: 2em;
  position: absolute;
  bottom: 8em;
  left: 15em;
  background-color: red;
}

#att-army {
  position: absolute;
  right: 6em;
  bottom: 9em;
  height: 6em;
  width: 23em;
  padding: 0;
  margin: 0;
}

.soldiers {
  height: 5em;
  width: 4.5em;
  margin: .25em;
}

#catapult {
  position: absolute;
  right: .5em;
  bottom: 4em;
  height: 12em;
  width: 12em;
  padding: 0;
  margin: 0;
}

#catapic {
  height: 50%;
  width: 75%;
  padding: 0;
}

.attack-arrow {
  position: absolute;
  /*bottom: 15em;
  right: 20em;*/
  padding: 0;
  margin: 0;
  height: 3em;
  width: 3em;
  transform: rotate(270deg);
}

.defense-arrow {
  position: absolute;
  left: 15em;
  bottom: 22em;
  padding: 0;
  margin: 0;
  height: 3em;
  width: 3em;
  transform: rotate(90deg);
}

.arrow-img {
  height: 100%;
  width: 100%;
}

.button {
  background-color: black;
  color: white;
}

.display.defender {
  width: 25%;
  float: left;
}

.display.attacker {
  width: 25%;
  float: right;
}

.display.defstats {
  background: black;
  color: white;
}

.display.attstats {
  background: black;
  color: white;
}

.catapult-stone {
  width: 2em;
  height: 2em;
  position: absolute;
  background-color: gray;
  border-radius: 1em;
}